$background: hsl(255,30%,5%) 
$background-sub: hsl(255,30%,10%)

$header-background: hsl(255,30%,10%)
$background-highlight: hsl(255,30%,32%)

$text: #f3ecff
$text-soft: #D4CEDE
$text-mute: #707070

$text-accent: red
$notice-error: red
$notice-warn: yellow
$notice-ok: green

$modal-backdrop: #000A
$modal-background: $background-highlight

$button-background: #483d8b
$button-background-hover: #746abb
$button-text: $text
$button-text-hover: $text

$divider: rgba(84, 84, 84, 0.48)
$e-drop-shadow: drop-shadow(0.2rem 0.2rem 0.5rem black)